<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-1 d-flex align-items-center">
                <a href=""><img src="img/Logo.svg" alt=""></a>
            </div>
            <div class="col-7 d-flex align-items-center justify-content-end">
                <nav class="header__menu">
                    <ul>
                        <li><a href="">Why Alivio</a></li>
                        <li><a href="">Solutions</a></li>
                        <li><a href="">Community</a></li>
                        <li><a href="">Pricing</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-4">
                <div class="header__info">
                    <a class="header__info_text" href="">Sign in</a>
                    <a class="header__info_btn" href="">Start Trial</a>
                </div>
                <a class="menu__icon mobile"><span></span></a>
                    <ul class="menu mobile">
                        <li><a href="" class="menu__item">Why Alivio</a></li>
                        <li><a href="" class="menu__item">Solutions</a></li>
                        <li><a href="" class="menu__item">Community</a></li>
                        <li><a href="" class="menu__item">Pricing</a></li>
                    </ul>
            </div>
        </div>
    </div>
</header>