<section class="info">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5">
                <h2 class="info__title">Let's hear about Kayla's success story</h2>
                <p class="info__subtitle">See how well Alivio works in a real customer’s life. </p>
                <button class="info__btn">Let’s get started</button>
            </div>
            <div class="col-md-12 col-lg-7">
                <div class="info__video"> 
                    <img class="info__video_img" src="img/infoimg.jpg" alt="video">
                    <a href=""><img class="info__video_play" src="img/play.svg" alt="play"></a>
                </div>
            </div>
        </div>
    </div>
</section>