<section class="product">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="product__image">
                    <img class="product__image_first" src="img/photoproduct.jpg" alt="">
                    <img class="product__image_last" src="img/photoproductlast.png" alt="">
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="product__info">
                <p class="product__info_subtitle">Our product</p>
                <h2 class="product__info_title">You tell us your stress,
                    We make your diary</h2>
                <p class="product__info_text">Everyone experiences it, and in different ways. <br>
                    Let Alivio guide you, in a personalized journal experience, to overcome your stress.</p>

                <button class="product__info_btn">Find Your Way</button>
                </div>
            </div>
        </div>
    </div>
</section>