.step{
    margin-top: 170px;

    &__subtitle {
        font-weight: 600;
        font-size: 24px;
        color: #424242;
    }

    &__title {
        font-weight: 700;
        font-size: 50px;
        color: #01996D;
        margin-top: 10px;
        padding-right: 80px;
    }

    &__text {
        text-align: justify;
        font-weight: 500;
        font-size: 20px;
        color: #424242;
        margin-top: 20px;
        line-height: 150%;
    }

        &__itemfirst {

            margin-right: 50px;

            img{
                max-width: 100%;
            }

            margin-top: 52px;
            
            &_text {
                font-weight: 500;
                font-size: 17px;
                line-height: 150%;
                color: #424242;
                padding-right: 40px;
                margin-top: 10px;
                text-align: justify;
            }
            &_img{
                margin-top: 60px;
                width: 100%;
            }
        }
        &__itemnext {

            margin-top: 340px;
            margin-right: 50px;

            img{
                max-width: 100%;
            }
            
            &_text {
                font-weight: 500;
                font-size: 17px;
                line-height: 150%;
                color: #424242;
                padding-right: 30px;
                margin-top: 10px;
                text-align: justify;
            }
            &_img{
                margin-top: 38px;
                width: 100%;
            }
        }

        &__itemlast {

            margin-top: 106px;


            img{
                max-width: 100%;
            }
            
            &_text {
                font-weight: 500;
                font-size: 17px;
                line-height: 150%;
                color: #424242;
                padding-right: 50px;
                margin-top: 10px;
                text-align: justify;
            }
            &_img{
                margin-top: 38px;
                width: 100%;
            }
        }

        @media screen and (max-width: 992px) {
            &__title{
                padding-right: 0px;
            }

            &__itemfirst {
                margin-right: 0px;
                &_text {
                    padding-right: 10px;
                }
            }
            &__itemnext{
                margin-top: 70px;
                margin-right: 0px;

                &_text {
                    padding-right: 0px;
                }
            }
            &__itemlast {
                margin-top: 52px;

                &_text {
                    padding-right: 0px;
                }
            }
        }
        @media screen and (max-width:768px) {

            &{
                margin-top: 70px;
            }
            &__title{
                font-size: 40px;
            }
            &__subtitle{
                font-size: 20px;
            }
            &__itemfirst {
                margin-top: 0px;
            }
            &__itemnext{
                margin-top: 0px;
            }
            &__itemlast {
                margin-top: 0px;
            }

        }

        @media screen and (max-width:576px) {
            &__title{
                font-size: 30px;
            }
            &__text{
                font-size: 17px;
            }
            &__itemfirst{
                &_img{
                    margin-top: 30px;
                }
            }
        }
    
}