.info {
    background-color: #245852;
    padding: 230px 0px 176px 0px;
    margin-top: 50px;

    &__title {
        font-weight: 700;
        font-size: 50px;
        color: #FFFFFF;
        max-width: 520px;
        margin-top: 70px;
    }

    &__subtitle {
        font-weight: 600;
        font-size: 23px;
        color: #FFFFFF;
        margin-top: 32px;
    }

    &__btn {
        background: #01996D;
        border: 1px solid #01996D;
        border-radius: 4px;
        padding: 20px 50px 24px;
        margin-top: 56px;
        font-size: 20px;
        color: #FFFFFF;
    }

    &__video{

        position: relative;
        &_img{
            max-width: 100%;
            height: 456px;
            border-radius: 16px
        }

        &_play{
            width: 80px;
            height: 80px;
            position: absolute;
            left: 46%;
            top: 46%;
        }
    }

    @media screen and (max-width:1200px) {
        &__title {
            font-size: 40px;
        }
        &__subtitle {
            font-size: 20px;
        }
    }

    
}