.info {
    background-color: #245852;
    padding: 230px 0px 176px 0px;
    margin-top: 50px;

    &__title {
        font-weight: 700;
        font-size: 50px;
        color: #FFFFFF;
        max-width: 520px;
        margin-top: 40px;
    }

    &__subtitle {
        font-weight: 600;
        font-size: 23px;
        color: #FFFFFF;
        margin-top: 32px;
    }

    &__btn {
        background: #01996D;
        border: 1px solid #01996D;
        border-radius: 4px;
        padding: 20px 50px 24px;
        margin-top: 56px;
        font-size: 20px;
        color: #FFFFFF;
    }

    &__video {

        position: relative;

        &_img {
            max-width: 100%;
            height: 400px;
            border-radius: 16px
        }

        &_play {
            width: 80px;
            height: 80px;
            position: absolute;
            left: 43%;
            top: 43%;
        }
    }

    @media screen and (max-width:1200px) {

        &__title {
            font-size: 40px;
        }

        &__subtitle {
            font-size: 20px;
        }

    }

    @media screen and (max-width: 992px) {
        & {
            padding: 50px 0px 50px 0px;
        }

        &__subtitle {
            text-align: center;
        }

        &__title {
            font-size: 40px;
            margin-top: 0;
            text-align: center;
            max-width: none;
        }

        &__btn {
            margin-bottom: 30px;
            margin-left: 33.3%;
        }

        &__video {

            &_play {
                left: 45%;
                top: 42%;
            }
        }
    }

    @media screen and (max-width:767px) {
        &__title {
            font-size: 30px;
        }

        &__subtitle {
            font-size: 18px;
        }

        &__btn {
            margin-left: 28%;
            margin-top: 20px;
        }

        &__video {

            &_img {
                height: 300px;
            }
        }
    }

    @media screen and (max-width:576px) {
        &__btn {
            width: 100%;
            margin-left: 0;
        }

        &__video {

            &_play {
                left: 40%;
                top: 40%;
            }
        }
    }


}